@import "../../scss/";

.wrapper {
  position: relative;
  text-align: center;
}

.image {
  display: block;
  width: 1280px;
  height: 550px;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 32px;
}

.paragr {
  position: absolute;

  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
  font-size: 54px;
  font-weight: $fontWeightSemiBold;
  background-color: $lightTransparentColor;

  @include tablet {
    top: 20%;
    font-size: 64px;
  }

  @include desktop {
    top: 35%;
    font-size: 84px;
  }
}
