@import "../../scss/";

.button {
  padding: 12px 98px;
  color: $lightColor;
  background-color: $accentColor;
  border-radius: 12px;
  font-family: $mainFont;
  font-size: 14px;
  font-weight: $fontWeightSemiBold;
  line-height: 20px;

  transition: background-color $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    background-color: $hoverAccentColor;
  }
}

.load_more {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: $accentColor;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration-color: $secondaryFontColor;
  text-decoration-thickness: 1px;

  transition: color $transitionDuration $transitionTimingFunction;

  &:hover,
  &:focus {
    color: $hoverAccentColor;
  }
}
