$mainFont: "Manrope", sans-serif;
$secondaryFont: "Manrope", sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;

$mainFontSize: 14px;
$SecondaryFontSize: 16px;

$mainFontColor: #121417;
$secondaryFontColor: #8a8a89;
$accentColor: #3470ff;
$hoverAccentColor: #0b44cd;
$optionsColor: #f7f7fb;

// Transition vars

$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
