@import "../../scss/";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px 12px;

  @include tablet {
    padding: 24px 48px;
  }
}

.content {
  position: relative;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.image {
  display: block;
  width: 1280px;
  height: 550px;
  object-fit: cover;
  border-radius: 24px;
}

.backprop {
  position: absolute;

  left: 0;
  right: 0;
  top: 5%;
  text-align: center;
  padding: 24px 12px;
  background-color: $lightTransparentColor;
}

.paragr {
  font-size: 44px;
  font-weight: $fontWeightSemiBold;
  margin-bottom: 24px;

  @include tablet {
    top: 10%;
    font-size: 64px;
  }

  @include desktop {
    top: 15%;
    font-size: 84px;
  }
}

.paragr_part {
  display: block;
  color: $accentColor;
}

.article {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 32px;
}
